# Created by .ignore support plugin (hsz.mobi)

#忽略所有target目录
target/

#忽略所有.iml文件
*.iml

#忽略当前文件
/data-structures-and-algorithms.iml

#忽略.idea文档
.idea/
/com/yufeng/data/structure/array/单元小结
/数据结构概览
.DS_Store
src/main/resources/
src/test/
/src/main/java/数据结构概览
单元小结
/src/main/java/com/yufeng/data/structure/数据结构概览
/com/yufeng/leetcode/算法面试概览
/src/main/java/com/yufeng/leetcode/算法面试概览
/src/main/java/com/yufeng/目录总结
